<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Stock (Yahoo Finance)</title>
</head>
<body>
    <span id="text"/>
    <script>
        const source = new EventSource("/data/{{ tickerSymbol }}");

        source.onmessage = event => {
            document.querySelector("#text").innerHTML = event.data;
        };
    </script>
</body>
</html>